.annotationMetadata {
}
.annotationMetadata > li {
  /* text-align: right; */
}

.annotationBg {
  background: rgba(var(--secondary-color1), 0.1);
}

.annotationPageBg {
  background: rgba(var(--secondary-color1), 0.1);
}

.canvasBg {
  background: rgba(var(--secondary-color1), 0.1);
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
} */

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
