.wrapper {
  padding: 2rem 0 0rem 0.5rem;
}

.legend {
  display: flex;
}
.legend span:first-of-type {
  height: 1rem;
  width: 1rem;
  display: block;
  margin-right: 0.5rem;
}

.legend span {
  border: 1px solid var(--secondary);
}

.legend span[data-descriptive] {
  background: var(--iiif-descriptive);
}
.legend span[data-technical] {
  background: var(--iiif-technical);
}
.legend span[data-linking] {
  background: var(--iiif-linking);
}
.legend span[data-structural] {
  background: var(--iiif-structural);
}

.legend > li {
  display: flex;
  place-items: center;
  margin-right: 1rem;
}
