.descriptive {
  padding: 1rem;
  margin-bottom: 0;
  background-color: var(--iiif-descriptive);
}

.linking {
  padding: 1rem;
  margin-bottom: 0;
  background-color: var(--iiif-linking);
}

.structural {
  padding: 1rem;
  margin-bottom: 0;
  background-color: var(--iiif-structural);
}
