ul.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.unstyled li {
  list-style: none;
}

li {
  list-style: none;
}

dl {
  font-size: 0.9rem;
}
dl dt {
  font-weight: bold;
  margin-top: 1rem;
}

.vizLabel {
  font-size: smaller;
}

.vizWrapper {
  border: 1px dashed var(--secondary);
  //background: rgba(var(--primary-color), 0.1);
  position: relative;
  text-align: left;
  margin-bottom: 1rem;
  box-shadow: 4px 4px 10px #1a1a1a;
  list-style: none;
}
.vizWrapperPadded {
  @extend .vizWrapper;
  padding: 1rem;
}
.vizWrapper li {
  list-style: none;
}
