:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --iiif-blue1: #bce8ff;
  --iiif-blue2: #9bdcff;
  --iiif-blue3: #79d1ff;

  /* Pico CSS variables */
  --primary: #b6acd1 !important;
  --primary-hover: #836eaa !important;

  --primary-color: 078, 042, 132;
  --secondary-color1: 000, 127, 164;
  --secondary-color2: 202, 124, 027;
  --secondary-color3: 217, 200, 038;
  --black: #1a1a1a;

  /* IIIF Generated Color palatte */
  --iiif-descriptive: #002e46;
  --iiif-technical: ;
  --iiif-linking: #142d32;
  --iiif-structural: #190203;
}

/* Pico CSS overrides */
:where(dl, ol, ul) {
  padding-left: 0;
}
